*{
    margin: 0;
    padding: 0;
    color: #d0e1f9;
}

.headerNav{
    display: flex;
    justify-content: left;
    font-size: 2rem;
    background-color: #283655;
    font-family: "Lucida Console", "Courier New", monospace;

}

nav > a {
    margin-left: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}
a{
    list-style: none;
    text-decoration: none;

}

#ContactUs{
    margin-left: 15rem;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    background-color: #d0e1f9;

}

.intro > img{
    height: 15rem;
}

.introPara > p{
    width: 40vw;
    color: #1e1f26;
    font-size: x-large;
    text-align: justify;
    
}

p > b
{
    color: #1e1f26;
}

img:hover{
    scale: 1.1;
}