*{
    margin: 0;
    padding: 0;
    color: #d0e1f9;
}

.headerNav{
    display: flex;
    justify-content: left;
    font-size: 2rem;
    background-color: #283655;
    font-family: "Lucida Console", "Courier New", monospace;

}

nav > a {
    margin-left: 6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}
a{
    list-style: none;
    text-decoration: none;

}

#ContactUs{
    margin-left: 20rem;
}